#square:hover {
    height: 200px;
    width: 200px;
    background-color: #333;
    animation-name: shape;
    animation-duration: 4s;
}

@keyframes shape {
    0% {background-color: #333;}
    100% {background-color: yellow;}
}