#rectangle {
    height: 200px;
    width: 400px;
    background-color: #CCC;
}

#rectangle:hover {
    height: 200px;
    width: 400px;
    animation-name: shape;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#rectangle {
    text-align: center;
    padding-top: 75px;
}

@keyframes shape {
    0% {
        background-color: rgb(128, 120, 120);
    }

    50% {
        border-radius: 50%;
        box-shadow: 5px 10px 8px 10px #888888;
    }

    100% {
        background-color: red;
    }
}

footer {
    ma
}